@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
}

@mixin item-menu($top: 0px, $hover: none, $radius: 0px, $pl: 0px){
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: $top;
    cursor: pointer;
    transition: background, 0.3s;
    &:hover{
        color: #f5f1f1;
        background: $hover;
        border-radius: $radius;
        padding-left: $pl;
    }
}

@mixin type-btn($bg: #007bff, $color: #f8f9fa){
    background-color: $bg;
    color: $color;
}

.menu{
    height: auto;
    background: rgb(86, 197, 127);
    padding: 8px 16px;
    border-bottom: 1px solid rgb(165, 171, 167);
    box-shadow: 0px 0px 18px 8px rgb(165, 171, 167);
}

.menu-items{
    display: grid;
    grid-template-columns: 10% auto 30%;
}

.logo-menu{
    display: flex;
    align-items: center;
    img{
        width: 36px;
        cursor: pointer;
    }
}

.menu-options{
    display: flex;
    align-items: center;
    gap: 24px;
    color: #fff;
    .option{
        // include
        @include item-menu();
    }
}

.menu-complements{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .content-complements{
        // uso de @extend para usar las propiedades del padre
        display: flex;
        gap: 16px;
        img{
            width: 24px;
            cursor: pointer;
        }
    }
    .icon-movil{
        display: none;
        .content-image{
            display: flex;
            img{
                width: 24px;
                cursor: pointer;
            }
        }
    }
}

.menu-collapse{
    display: none
}

.menu-options-collapse{
    color: #fff;
    .option{
        // include
        @include item-menu(8px, #f4f0f029, 3px, 8px); 
    }
}

// animation show menu
.animation-menu-show{
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
      margin-top: -60px;
    }
  
    to {
      margin-top: 0px;
    }
}

@media screen and (max-width: 768px){
    .icon-movil{
        display: block !important;
    }
    .content-complements{
        display: none !important;
    }
    .menu-options{
        display: none !important;
    }
    .menu-items {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width: 768px){
    .menu-collapse{
        display: none !important;
    }
}

// start  content page
.content-page{
    height: 92.5vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 0px 16px;
}

.custom-btn{
    border: none;
    padding: 8px 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    &:hover{
        opacity: 0.8;
    }
}

.primary{
    @include type-btn(#17a2b8);
}

.secondary{
    @include type-btn(#28a745)
}

.actions{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 8px;
    align-items: center;
    height: 100%;
}

// colors
.current-color{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    .copy-color{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .color{
        padding: 5px 8px;
        border-radius: 4px;
        display: flex;
        gap: 8px;
    }
}